<!-- <h2><%= @user.name %>'s Books for Sale</h2> -->
<input type="hidden" name="user_id" value="<%= current_user.id %>">


<div class='quote-search'>
  <form id='quote'>
    <label>
      Get a price quote:
      <input type='text' name='isbn' placeholder='Enter an ISBN number...'/>
    </label>
    <button>Search</button>
  </form>
</div>




<div id='books-container' class='book-results'></div>

<script type='template' id='book-html'>
  <a href="#<%%= book.get('id') %>" class='title-link'><%%= book.get('title') %></a>
  <span class='delete'> &times; </span>
</script>

<script type='template' id='book-detail'>
  <h2 class='book-title'><%%= title %></h2>
  <ul>
    <li><a href="<%%= prices[0].url %>" class='site'><%%= prices[0].site %></a> <span class='price'>$<%%= prices[0].price %></span></li>
    <li><a href="<%%= prices[1].url %>" class='site'><%%= prices[1].site %></a> <span class='price'>$<%%= prices[1].price %></span></li>
    <li><a href="<%%= prices[2].url %>" class='site'><%%= prices[2].site %></a> <span class='price'>$<%%= prices[2].price %></span></li>
    <li><a href="<%%= prices[3].url %>" class='site'><%%= prices[3].site %></a> <span class='price'>$<%%= prices[3].price %></span></li>
  </ul>
</script>


